<div class="container"
    style="height: 91vh; width: 100%;display: flex;flex-direction: column; justify-content: center; align-items: center;">
    <h1 class="text-danger">Khóa học không tồn tại hoặc đã bị xóa</h1>

    <br>

    <h2>
        <a href="/me/stored/courses" class="btn btn-primary">Quay về</a>
    </h2>
</div>